<div>
    <br />
    <br />
</div>
<div class="component-title">
    You have chosen to learn more about the company you work for
</div>
<br />
<br />
<br />
<br />
<div class="component-container">
    <form action="/employer">
        <div class="component-title">Enter your company domain name</div>
        <input type="text" name="companyDomain" style="width: 400px; text-align:center" placeholder="ex: google.com">
        <br />
        <br />
        <button type="submit" style="width: 400px">Let's Creep...</button>
    </form>
</div>
