<div class="component-title">
    You have chosen to learn more about a company.
</div>
<br />
<div class="component-header-container">
    <img [src]="_companyDetail?.summary?.logoUrl" class="component-header-image"/>
</div>
<div class="component-header">
     {{_companyDetail?.summary?.name}} - {{_companyDetail?.summary?.city}}, {{_companyDetail?.summary?.stateCode}} {{_companyDetail?.summary?.phoneNumber}}
</div>
<!--<div class="component-content">
    <div class="component-content-left">
        <div class="component-content-data-header">Online since: </div>
        <div class="component-content-data-header">Keywords: </div>
        <div class="component-content-data-header">Traffic Ranking: </div>
    </div>
    <div class="component-content-right">
        <div class="component-content-data">Online since: </div>
        <div class="component-content-data">Keywords: </div>
        <div class="component-content-data">Traffic Ranking: </div>
    </div>
</div>-->
<br />
<br />
<div>
    <a href="{{_companyDetail?.socialMedia?.profiles[0].url}}"><i class="fa fa-facebook-square fa-5x" style="color: #3b5998"></i></a>
    <a href="{{_companyDetail?.socialMedia?.profiles[1].url}}"><i class="fa fa-twitter-square fa-5x" style="color: #00aced"></i></a>
    <a href="{{_companyDetail?.socialMedia?.profiles[3].url}}"><i class="fa fa-linkedin-square fa-5x" style="color: #007bb6"></i></a>
</div>
<br />
<br />
<br />
<br />
<div class="component-button-container">
    <button [routerLink]="['/employer/webStats']" [queryParams]="{companyDomain: _companyDomain}">
        <i class="fa fa-line-chart fa-lg"></i> 
        Website Stats
    </button>
    <button [routerLink]="['/employer/socialMedia']" [queryParams]="{companyDomain: _companyDomain}">
        <i class="fa fa-facebook fa-lg"></i> 
        Social Presence
    </button>
    <button [routerLink]="['/employer/bio']" [queryParams]="{companyDomain: _companyDomain}">
        <i class="fa fa-search-plus fa-lg"></i> 
        Find Out More
    </button>       
</div>