<div class="component-title">
    You have chosen to learn more about a company.
</div>
<div class="component-header">
    {{_companyDetail.name}} - {{_companyDetail.city}}, {{_companyDetail.stateCode}} {{_companyDetail.phoneNumber}}
</div>
<div class="component-header-container">
    <img [src]="_companyDetail.logoPic" class="component-header-image"/>
</div>
<div class="component-content">
    <div class="component-content-data-header">Founded: {{_companyDetail.founded}} </div>
    <div class="component-content-data-header">Estimated Employees: {{_companyDetail.numEmployees}} </div>
    <div class="component-content-data-header">Summary: {{_companyDetail.summary}} </div>
    <div class="component-content-data-header">Mailing Address: {{_companyDetail.address}}, {{_companyDetail.city}}, {{_companyDetail.stateCode}} </div>
</div>
<div class="component-button-container">
    <button [routerLink]="['/employer/webStats']" [queryParams]="{companyDomain: _companyDomain}">
        <i class="fa fa-line-chart fa-lg"></i> 
        Website Stats
    </button>
    <button [routerLink]="['/employer/socialMedia']" [queryParams]="{companyDomain: _companyDomain}">
        <i class="fa fa-facebook fa-lg"></i> 
        Social Presence
    </button>
    <button [routerLink]="['/employer/bio']" [queryParams]="{companyDomain: _companyDomain}">
        <i class="fa fa-search-plus fa-lg"></i> 
        Find Out More
    </button>       
</div>