<div class="component-title">
    You have chosen to learn more about a company.
</div>
<div class="component-header">
    {{companyDetail?.organization?.name}} - {{companyDetail?.organization?.contactInfo?.addresses[0]?.locality}}, {{companyDetail?.organization?.contactInfo?.addresses[0]?.region?.code}} {{companyDetail?.organization?.contactInfo?.phoneNumbers[0]?.region?.code}}
</div>
<div class="component-header-container">
    <img class="component-header-image" />
</div>
<br />
<div class="component-button-container">
    <button [routerLink]="['/employer']">
        <i class="fa fa-line-chart fa-lg"></i> 
        Website Stats
    </button>
    <button [routerLink]="['/employer/social']">
        <i class="fa fa-facebook fa-lg"></i> 
        Social Presence
    </button>
    <button [routerLink]="['/employer']">
        <i class="fa fa-search-plus fa-lg"></i> 
        Find Out More
    </button>       
</div>