<div class="component-title">
    You have chosen to learn more about a company.
</div>
<div class="component-header">
    {{_companyDetail.name}} - {{_companyDetail.city}}, {{_companyDetail.stateCode}} {{_companyDetail.phoneNumber}}
</div>
<div class="component-header-container">
    <img class="component-header-image" />
</div>
<br />
<div class="component-button-container">
    <button [routerLink]="['/employer']">
        <i class="fa fa-line-chart fa-lg"></i> 
        Website Stats
    </button>
    <button [routerLink]="['/employer/social']">
        <i class="fa fa-facebook fa-lg"></i> 
        Social Presence
    </button>
    <button [routerLink]="['/employer']">
        <i class="fa fa-search-plus fa-lg"></i> 
        Find Out More
    </button>       
</div>