<div>
    <br />
    <br />
</div>
<div class="component-title">
    You have chosen to learn more about a person
</div>
<br />
<br />
<i class="fa fa-user fa-5x"></i>
<br />
<br />
<div class="component-container">
    <form action="/employee">
        <div class="component-title">Enter the person's email address</div>
        <input type="text" name="employeeEmail" class="form-input-text" placeholder="ex: bob@gmail.com">
        <br />
        <br />
        <button type="submit" class="button-wide fa fa-user-secret fa-lg"> Let's Creep...</button>
    </form>
</div>


