<div>
    <br />
    <br />
</div>
<div class="component-title">
    You have chosen to learn more about a company
</div>
<br />
<br />
<i class="fa fa-building fa-5x"></i>
<br />
<br />
<div class="component-container">
    <div class="component-title">Enter the company domain name</div>
    <input [(ngModel)]="companyDomain" name="companyDomain" class="form-input-text" placeholder="ex: google.com">
    <br />
    <br />
    <button class="button-wide fa fa-user-secret fa-lg" [routerLink]="['/employer']" [queryParams]="{companyDomain: companyDomain}"> 
        Let's Creep...
    </button>
</div>
