<div class="component-title">
  You have chosen to learn more about a person.
</div>
<div class="component-header">
  {{_personDetail?.fullName}} - {{_personDetail?.gender}} - {{_personDetail?.location}}
</div>
<div class="component-header-container">
    <img [src]="_personDetail?.photoUrl" class="component-header-image"/>
</div>
<div class="component-content">
  <div class="component-content-left">
    <div class="component-content-data-header">Social Presence: </div>
    <div class="component-content-data-header">Websites: </div>
  </div>
  <div class="component-content-right component-content-link-container">
    <div class="component-content-link" *ngFor='let i of _personDetail.websites'>
      <a [href]="i.url"><i class="fa fa-globe fa-lg component-content-link"></i></a>
    </div>
  </div>
</div>
  <div ng-if="_personDetail.socialMediaProfiles" class="component-header">Social Media Presence:</div>
  <div>
    <a href="https://www.facebook.com"><i class="fa fa-facebook-square fa-5x" style="color: #3b5998"></i></a>
    <a href="https://www.twitter.com"><i class="fa fa-twitter-square fa-5x" style="color: #00aced"></i></a>
    <a href="https://www.linkedin.com"><i class="fa fa-linkedin-square fa-5x" style="color: #007bb6"></i></a>
  </div>
  <div ng-if="_personDetail.websites" class="component-header">Websites:</div>
