<div class="component-title">
    You have chosen to learn more about the company you work for.
</div>
<div class="component-header">
    (Organization Name) - (Locality, region:code) (1st phone #)
</div>
<div class="component-header-container">
    <img class="component-header-image" />
</div>
<div class="component-content">
    <div class="component-content-left">
        <div class="component-content-data-header">Online since: </div>
        <div class="component-content-data-header">Keywords: </div>
        <div class="component-content-data-header">Traffic Ranking: </div>
    </div>
    <div class="component-content-right">
        <div class="component-content-data">{{ companyDetail | json }}</div>
        <div class="component-content-data">Keywords: </div>
        <div class="component-content-data">Traffic Ranking: </div>
    </div>
</div>
<br />
<br />
<div class="component-button-container">
    <button [routerLink]="['/employer/webStats']" [queryParams]="{companyDomain: _companyDomain}">
        <i class="fa fa-line-chart fa-lg"></i> 
        Website Stats
    </button>
    <button [routerLink]="['/employer/socialMedia']" [queryParams]="{companyDomain: _companyDomain}">
        <i class="fa fa-facebook fa-lg"></i> 
        Social Presence
    </button>
    <button [routerLink]="['/employer/bio']" [queryParams]="{companyDomain: _companyDomain}">
        <i class="fa fa-search-plus fa-lg"></i> 
        Find Out More
    </button>       
</div>