<div>
    <br />
    <br />
</div>
<div class="component-title">
    You have chosen to learn more about the people you work with
</div>
<br />
<br />
<br />
<br />
<div class="component-container">
    <form action="/employee">
        <div class="component-title">Enter an employee's email address</div>
        <input type="text" name="employeeEmail" class="form-input-text" placeholder="ex: bob@gmail.com">
        <br />
        <br />
        <button type="submit" class="button-wide">Let's Creep...</button>
    </form>
</div>


