<div>
    <br />
    <br />
</div>
<div class="component-title">
    You have chosen to learn more about the people you work with
</div>
<br />
<br />
<i class="fa fa-user fa-5x"></i>
<br />
<br />
<div class="component-container">
    <form action="/employee">
        <div class="component-title">Enter an employee's email address</div>
        <input type="text" name="employeeEmail" style="width: 400px; text-align:center" placeholder="ex: bob@gmail.com">
        <br />
        <br />
        <button type="submit" style="width: 400px"><i class="fa fa-user-secret fa-lg"></i> Let's Creep...</button>
    </form>
</div>


