<div class="component-title">
    You have chosen to learn more about a company.
</div>
<div class="component-header">
    (Organization Name) - (Locality, region:code) (1st phone #)
</div>
<div class="component-header-container">
    <img class="component-header-image"/>
</div>
<div class="component-content">
    <div class="component-content-data-header">Founded: component.founded </div>
    <div class="component-content-data-header">Estimated Employees: component.employees </div>
    <div class="component-content-data-header">Summary: component.overview </div>
    <div class="component-content-data-header">Mailing Address: component.mailAddr </div>
</div>
<div class="component-button-container">
    <button [routerLink]="['/employer']">
        <i class="fa fa-line-chart fa-lg"></i> 
        Website Stats
    </button>
    <button [routerLink]="['/employer/social']">
        <i class="fa fa-facebook fa-lg"></i> 
        Social Presence
    </button>
    <button [routerLink]="['/employer/bio']">
        <i class="fa fa-search-plus fa-lg"></i> 
        Find Out More
    </button>       
</div>