<div>
    <br />
    <br />
</div>
<div class="component-title">
    You have chosen to learn more about the company you work for
</div>
<br />
<br />
<i class="fa fa-building fa-5x"></i>
<br />
<br />
<div class="component-container">
    <form action="/employerBio">
        <div class="component-title">Enter your company domain name</div>
        <input type="text" name="companyDomain" class="form-input-text" placeholder="ex: google.com">
        <br />
        <br />
        <button type="submit" class="button-wide fa fa-user-secret fa-lg">Let's Creep...</button>
    </form>
</div>
