<div class="component-title">
  You have chosen to learn more about a person.
</div>
<div class="component-header">
  {{_personDetail?.fullName}} - {{_personDetail?.gender}} - {{_personDetail?.location}}
</div>
<div class="component-header-container">
    <img [src]="_personDetail?.photoUrl" class="component-header-image"/>
</div>
<div class="component-content">
  <div class="component-content-left">
    <div class="component-content-data-header">Social Presence: </div>
    <div class="component-content-data-header">Websites: </div>
  </div>
  <div class="component-content-right component-content-link-container">
    <div class="component-content-link" ng-if="_personDetail.facebookUrl">
      <a [href]="_personDetail.facebookUrl"><i class="fa fa-facebook-square fa-lg component-content-link" style="color: #3b5998"></i></a>
    </div>
    <div class="component-content-link" ng-if="_personDetail.twitterUrl">
      <a [href]="_personDetail.twitterUrl"><i class="fa fa-twitter-square fa-lg component-content-link" style="color: #00aced"></i></a>
    </div>
    <div class="component-content-link" ng-if="_personDetail.linkedInUrl">
      <a [href]="_personDetail.linkedInUrl"><i class="fa fa-linkedin-square fa-lg component-content-link" style="color: #007bb6"></i></a>
    </div>
  </div>
  <div class="component-content-right component-content-link-container">
    <div class="component-content-link" *ngFor='let website of _personDetail.websites'>
      <a [href]="website.url"><i class="fa fa-globe fa-lg component-content-link"></i></a>
    </div>
  </div>
</div>
