<div>
    <br />
    <h2>
        Find out more about a company or person
    </h2>
    <br />
    <br />
    <i class="fa fa-question fa-5x"></i>
</div>
<div>
    <h3>
        I want to learn more about...
    </h3>
    <button class="button-wide" [routerLink]="['/employerSelected/']">
    <i class="fa fa-building fa-lg"></i> Company</button>
    <br />
    <br />
    <button class="button-wide" [routerLink]="['/employeeSelected/']">
    <i class="fa fa-users fa-lg"></i> Persons</button>
</div>
